body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f5f5f5;
}

h1{
    text-align: center;
}

#class-input,
#name-input,
#date-input,
#info-input {
    width: 500px;
}

#progress-circle {
    position: absolute;
    top: 5%;
    right: 12%;
    width: 200px;
    height: 200px;
}

#circle-text {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: center;
    top: 40%;
    right: 40%;
}

.circular-chart {
    width: 100%;
    height: 100%;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 3.8;
    stroke: #4caf50;
    stroke-linecap: round;
}

#hw-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

#hw-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hw-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: transparent;
    border-left: 10px solid transparent;
}

.hw-due {
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 14px;
    color: #555;
}

.hw-red {
    border-left-color: #ff4d4d;
    background: #ffe5e5;
}

.hw-green {
    border-left-color: #4caf50;
    background: #e5ffe5;
}

.hw-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.finish-btn {
    align-self: center;
    padding: 6x 12px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#hw-form button[type="submit"] {
    width:500px;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
}

.hw-details {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hw-info {
    margin-top: 8px;
}

.delete-btn {
    align-self: flex-end;
    margin-top: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #444;
}

.delete-btn:hover {
    color: red;
}

#hamburger {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -350px; 
    width: 250px;
    height: 100%;
    background: #f2f2f2;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 999;
}
#sidebar.open {
    left: 0;
}

#sidebar button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}